<mat-toolbar id="toolbar" color="primary">
  <button mat-icon-button class="icon" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
  <span>24H HOT NEWS</span>
  <form class="input_container">
    <mat-form-field class="input">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <div>
    <button mat-button id="logout_btn" (click)="logout()" *ngIf="(user$ | async)">Đăng xuất</button>
    <button mat-button id="login_btn" (click)="login()" *ngIf="!(user$ | async)">Đăng nhập</button>
  </div>
  <div *ngIf="(user$ | async)">{{ user?.displayName }}</div>
  <img *ngIf="(user$ | async)" [src]="user?.photoURL" alt="">
  <button [routerLink]="['home']" mat-icon-button class="icon" aria-label="">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
