@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
}

//Toolbar
#toolbar {
  height: 80px;
}

.input_container {
  margin-top: 20px;
  padding-left: 15%;
  width: 100%;
}

.input {
  width: 70%;
}

#login_btn, #logout_btn, .icon {
  margin: 10px
}

#login_btn:hover, #logout_btn:hover, .icon:hover {
  background-color: green;
}

//Text
#text_box {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

#text_container {
  width: 70%;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}

.text {
  display: flex;
  align-self: center;
  margin: 40px;
  font-size: 30px;
  font-weight: 600;
}
